.postWarrper{
    width: 90%;
    background: #dee0e3;
    margin-left: 5%;
    margin-bottom: 1%;
    padding: 0.5%;
}
.postWarrper p{
    text-align: left;
    font-size: 12px;
    margin-top: 1%;
    margin-bottom: 0;
    
}
.imageWithDes{
    display: flex;
}
.grayColor{
    color: rgb(93, 82, 82);;
}

.postTitle{
    margin-top:3%;
    margin-left: 1%;
    font-weight: bold;
    
}

.tipImage{
    width: 25%;
    height: 120px;
    margin: 1%;
}
.backBtn{
    justify-content: flex-start;
    display: flex;
    margin-left: 5%;
    margin-bottom: 0;
}
.btn{
    font-size:10px !important ;
    border: 1px solid !important;
    border-color: rgb(201, 200, 199)!important;
    width: 70px !important;
}
.iconStyle{
    width: 15px;
    margin-left: 5px;
    height: 7px;
}